*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  caret-color: transparent;
}

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

body {
  box-sizing: border-box;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

main {
  width: 90vw;
  margin: 100px auto;
}

main section {
  padding-top: 100px;
}
