header {
  position: relative;
  top: 50px;
  height: 100vh;
}

nav {
  position: fixed;
  display: flex;
  width: 100%;
  height: 50px;
  top: 0;
  flex-wrap: wrap;
  align-items: center;
  padding: 5px 0;
  z-index: 3;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.071);
}

nav .header-logo {
  padding-left: 7.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

nav .header-logo a {
  text-decoration: none;
  color: #000;
  transition: 0.2s;
}

nav .header-logo a:hover {
  box-shadow: inset 2em 0.5em #183d79;
  color: darkgrey;
}


nav .header-menu {
  text-align: right;
  padding-right: 40px;
  flex: 1;
  display: flex;
  justify-content:end;
  opacity: 0;
  transition: 1s all ease;
}

nav .header-menu a {
  color: #000;
  list-style-type: none;
  text-decoration: none;
}

nav .header-menu a li{
  margin: 10px 30px;
  position: relative;
  text-transform: uppercase;
  font-size: 0.875rem;
}

nav .header-menu a li::after {
  position: absolute;
  content: '';
  width: 0;
  height: 3px;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ff3131;
  transition: width 0.3s;
}

nav .header-menu a li:hover::after {
  width: 100%;
}

nav .header-hamburger-menu-icon {
  position: absolute;
  right: 6.25rem;
  cursor: pointer;
  display: none;
}

.header-background-lines .line-one {
  position: absolute;
  width: 10px;
  height: 100%;
  background-color: #000;
  left: 18%;
  z-index: -5;
}


.header-background-lines .line-two {
  position: absolute;
  width: 50px;
  height: 100%;
  background-color: #ff3131;
  left: 20%;
  z-index: -5;
}

.header-background-lines .line-three {
  position: absolute;
  width: 100px;
  height: 100%;
  background-color: #183d79;
  left: 25%;
  z-index: -5;
}

.header-background-image img {
  position: relative;
  width: 40%;
  left: 10%;
  top: 6rem;
  z-index: -1;
}

.header-title {
  position: absolute;
  top: 12rem;
  left: 60%;
  line-height: 0.5;
  font-size: 6.25rem;
  font-weight: 700;
  letter-spacing: -5px;
}

.header-title p {
  font-size: 1.563rem;
  font-weight: 300;
  color: gray;
  text-transform: uppercase;
  letter-spacing: 10px;
  padding-top: 50px;
}

header .header-btn-link {
  position: absolute;
  bottom: 20rem;
  left: 60%;
}

header .header-btn-link button {
  text-transform: uppercase;
  background-color: #ff3131;
  color: #fff;
  letter-spacing: 10px;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  transition: .3s;
}

header .header-btn-link button:hover {
  background-color: #000;
  color: #fff;
  transform: scale(1.1);
}

.header-social-media ul {
  position: absolute;
  right: 1.25rem;
  top: -5rem;
  list-style-type: none;
  padding: 10px 10px;  
}

.header-social-media ul a{
  color: #000;
  transition: 0.1s;
}

.header-social-media ul a:hover{
  color: #183d79;
}

.header-social-media ul li {
  font-size: 1.125rem;
  margin: 24px 0;
  transition: .2s;
}

.header-social-media ul li:hover {
  transform: scale(1.7);
}


@media all and (max-width: 1050px) { 
  
  
  header {
    top: 0;
    height: 100vh;
    overflow: hidden;
  }
  nav {
    position: static;
    padding: 0;
  }
  
  nav .header-logo {
    padding-left: 2rem;
    height: 100%;
    display: flex;
    align-items: center;
  }
  


  nav .header-hamburger-menu-icon {
    right: 2rem;
    display: block;
    font-size: 1.2rem;
    z-index: 200;
  }

  .open-menu, .responsive-menu .close-menu {
    display: block;
  }

  .close-menu, .responsive-menu .open-menu {
    display: none;
  }

  .close-menu {
    color: #fff;
  }

  nav .header-menu {
    position: absolute;
    opacity: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(10px);
    background-color: #212020b1;
    z-index: 120;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    padding: 10px;
    text-align: center;
    transform: translateY(-100%);
    transition: transform 0.2s;
  }

  .responsive-menu nav .header-menu {
    transform: translateY(0%);
  }


  nav .header-menu a {
    color: rgb(255, 255, 255);
    font-size: 5rem;
    letter-spacing: 0.8rem;
  }



  .header-background-lines .line-one {
    width: 50px;
    left: 10%;
  }

  .header-background-lines .line-two {
    left: 17%;
  }

  .header-background-lines .line-three {
    left: 23%;
  }
    
  .header-background-image img {
    width: 70%;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .header-title {
    top: 24.25rem;
    left: 40%;
    background-color: #fff;
    font-size: 3.5rem;
    padding: 15px;
    border-radius: 4px;
  }
  
  .header-title p {
    font-size: 1.3rem;
    letter-spacing: 1.5rem;
    padding-top: 40px;
  }
  
  header .header-btn-link {
    bottom: 4rem;
    left: 40%;
  }
  
  header .header-btn-link button {
    letter-spacing: 4px;
    padding: 10px 20px;
    font-size: 1rem;
  }
    
  .header-social-media {
    display: none;
  }
}




@media all and (max-width: 610px) { 

  .header-background-lines .line-one {
    width: 50px;
    left: 10%;
  }

  .header-background-lines .line-two {
    left: 17%;
  }

  .header-background-lines .line-three {
    left: 23%;
  }
    
  .header-background-image img {
    width: 70%;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .header-title {
    top: 24.25rem;
    left: 50%;
    background-color: #fff;
    font-size: 3.5rem;
    padding: 15px;
    border-radius: 4px;
  }
  
  .header-title p {
    font-size: 1.3rem;
    letter-spacing: 1.5rem;
    padding-top: 40px;
  }
  
  header .header-btn-link {
    bottom: 4rem;
    left: 50%;
  }
  
  header .header-btn-link button {
    letter-spacing: 4px;
    padding: 10px 20px;
    font-size: 1rem;
  }
    
  .header-social-media {
    display: none;
  }
}




@media all and (max-width: 500px) { 
  

  .header-background-lines .line-one {
    width: 50px;
    left: 10%;
  }

  .header-background-lines .line-two {
    left: 17%;
  }

  .header-background-lines .line-three {
    left: 23%;
  }
    
  .header-background-image img {
    width: 60%;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .header-title {
    top: 24rem;
    left: 30%;
    background-color: #fff;
    font-size: 4rem;
    padding: 15px;
    border-radius: 4px;
  }
  
  .header-title p {
    font-size: 2rem;
    letter-spacing: 0.7rem;
    padding-top: 40px;
  }
  
  header .header-btn-link {
    bottom: 4rem;
    left: 30%;
  }
  
  header .header-btn-link button {
    letter-spacing: 4px;
    padding: 5px 20px;
    font-size: 1rem;
  }
    
  .header-social-media {
    display: none;
  }

}


@media all and (max-width: 380px) { 
 
  nav .header-logo {
    font-weight: 700;
    font-size: 0.8rem;
  }

  nav .header-hamburger-menu-icon {
    right: 1.5rem;
  }




  .header-background-lines .line-one {
    width: 50px;
    left: 10%;
  }

  .header-background-lines .line-two {
    left: 17%;
  }

  .header-background-lines .line-three {
    left: 23%;
  }
    
  .header-background-image img {
    width: 80%;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .header-title {
    top: 24rem;
    left: 30%;
    background-color: #fff;
    font-size: 3.4rem;
    padding: 15px;
    border-radius: 4px;
  }
  
  .header-title p {
    font-size: 2rem;
    letter-spacing: 0.7rem;
    padding-top: 25px;
  }
  
  header .header-btn-link {
    bottom: 6rem;
    left: 30%;
  }
  
  header .header-btn-link button {
    letter-spacing: 3px;
    padding: 5px 20px;
    font-size: 1rem;
  }
    
  .header-social-media {
    display: none;
  }

}



@media all and (max-width: 310px) { 
    
  nav .header-menu a {
    font-size: 3rem;
    letter-spacing: 0.5rem;
  }

  .header-background-lines .line-one {
    width: 50px;
    left: 10%;
  }

  .header-background-lines .line-two {
    left: 17%;
  }

  .header-background-lines .line-three {
    left: 23%;
  }
    
  .header-background-image img {
    width: 80%;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .header-title {
    top: 22rem;
    left: 30%;
    background-color: #fff;
    font-size: 3.4rem;
    padding: 15px;
    border-radius: 4px;
  }
  
  .header-title p {
    font-size: 2rem;
    letter-spacing: 0.7rem;
    padding-top: 25px;
  }
  
  header .header-btn-link {
    bottom: 8rem;
    left: 30%;
  }
  
  header .header-btn-link button {
    letter-spacing: 3px;
    padding: 5px 20px;
    font-size: 1rem;
  }
    
  .header-social-media {
    display: none;
  }

}
